@import "src/styles/variables";

.generator {
    padding: 3rem 0;

    .inner {
        width: 600px;
        max-width: 92.5%;

        .card {
            background: $gray-900;
            padding: 2rem;
            border-radius: 1rem;

            #password {
                display: block;
                width: 100%;
                border: solid 1px $gray-700;
                border-radius: .35rem;
                font-family: "Roboto Mono", "monospace";
                overflow: hidden;

                &:focus-within {
                    border-color: $gray-400;
                }

                .editor {
                    display: block;
                    width: 100%;
                    padding: .35rem .5rem;
                    outline: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                label {
                    display: none;
                }

                &.ellipsis {
                    position: relative;

                    .editor {
                        padding-right: 2rem;
                    }

                    #toggle {
                        display: none;

                        &:checked ~ label img {
                            transform: rotate(180deg);
                        }

                        &:checked ~ .editor {
                            overflow: visible;
                            text-overflow: clip;
                            white-space: normal;
                        }
                    }

                    label {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        height: 100%;
                        flex-shrink: 0;

                        img {
                            width: 1.25rem;
                            height: auto;
                            transition: transform .3s;
                        }
                    }
                }
            }

            .controllers {
                width: 100%;
                margin-top: 1rem;

                &.flex {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                button {
                    display: inline-block;
                    padding: .375rem .75rem;
                    background: $gray-700;
                    border-radius: .375rem;
                    margin: 0 .5rem;
                }

                .notify {
                    position: fixed;
                    bottom: -4rem;
                    left: 50%;
                    background: $gray-600;
                    color: $white;
                    padding: 1rem 2rem;
                    border-radius: 1rem 1rem 0 0;
                    transform: translateX(-50%);
                    transition: bottom .3s ease-in-out;

                    &.success {
                        bottom: 0;
                    }
                }
            }
        }
    }
}
