@import "src/styles/variables";

.generator {
    padding: 3rem 0;

    .inner {
        width: 600px;
        max-width: 92.5%;

        .card {
            background: $gray-900;
            padding: 2rem;
            border-radius: 1rem;

            #password {
                display: block;
                width: 100%;
                font-family: "Roboto Mono", "monospace";
                padding: .35rem .5rem;
                border: solid 1px $gray-700;
                border-radius: .35rem;
            }

            .controllers {
                width: 100%;
                margin-top: 1rem;

                &:nth-of-type(n+2) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                button {
                    display: inline-block;
                    padding: .375rem .75rem;
                    background: $gray-700;
                    border-radius: .375rem;
                    margin: 0 .5rem;
                }

                .notify {
                    position: fixed;
                    bottom: -4rem;
                    left: 50%;
                    background: $gray-600;
                    color: $white;
                    padding: 1rem 2rem;
                    border-radius: 1rem 1rem 0 0;
                    transform: translateX(-50%);
                    transition: bottom .3s ease-in-out;

                    &.success {
                        bottom: 0;
                    }
                }
            }
        }
    }
}
