.button {
    display: inline-block;
    padding: .375rem .75rem;
    background: #1BA;
    color: #FFF;
    border-radius: .5rem;
    box-shadow: 0 2px 10px #0003;
    transition: background 300ms, box-shadow 300ms;

    &:hover {
        background: darken(#1BA, 5%);
        box-shadow: none;
    }

    &:active {
        background: darken(#1BA, 10%);
    }
}