@import "src/styles/variables";

.input {
    padding: 3rem 0;

    .card {
        padding: 2rem;
        background: $gray-900;
        border-radius: 1rem;

        textarea {
            width: 100%;
            resize: none;
        }

        .data {
            margin-top: 2rem;

            .default {
                text-align: center;

                .title {
                    font-size: 1rem;
                }

                .count {
                    font-size: 2.5rem;
                    line-height: 1.25;
                }
            }

            .others {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 2rem;
                text-align: center;

                li {
                    flex: 1;

                    @media screen and (max-width: 600px) {
                        min-width: 50%;

                        &:nth-of-type(n+3) {
                            margin-top: 1rem;
                        }
                    }

                    .title {
                        font-size: .75rem;
                    }

                    .count {
                        font-size: 1.5rem;
                        line-height: 1.25;
                    }
                }
            }

            @media screen and (min-width: 1000px) {
                display: flex;
                align-items: center;

                .default {
                    flex-shrink: 0;
                    width: 35%;
                }

                .others {
                    width: 65%;
                    margin-top: 0;
                }
            }
        }
    }
}