.card {
    margin-top: calc(3.5rem + 3.5rem);
    text-align: center;

    span {
        display: inline-block;
        padding: .25rem .5rem;
        border: solid 1px #AAA;
        margin: .5rem;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        .tr {
            display: flex;

            &:first-of-type .td {
                border-top: solid 1px #AAA;
            }

            .td {
                display: flex;
                width: 10%;
                height: 100%;
                //min-height: 2rem;
                align-items: center;
                justify-content: center;
                background: #EEE;
                border-right: solid 1px #AAA;
                border-bottom: solid 1px #AAA;
                flex-shrink: 0;

                &:first-of-type {
                    border-left: solid 1px #AAA;
                }

                &.active {
                    background: #FFF;
                }
            }
        }
    }

    .button {
        margin-top: 1rem;
    }
}