main {
    margin-top: 3.5rem;
}

.inner {
    display: block;
    margin: 0 auto;
    width: 92.5%;
    max-width: 1500px;

    &-medium {
        display: block;
        margin: 0 auto;
        width: 40rem;
        max-width: 92.5%;
    }

    &-small {
        display: block;
        margin: 0 auto;
        width: 25rem;
        max-width: 92.5%;
    }
}